.underline
{
    margin-bottom: -2rem;
    border-bottom: 2px solid black;
}

.form-heading{
    border-bottom: 2.5px solid rgb(163, 240, 63);
    text-transform: uppercase;
    background: linear-gradient(to right, #f32170, #6c0fd6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.form-heading-small {
    display: inline;
    margin-bottom: 30px;
    border-bottom: 2.5px solid rgb(240, 63, 231);
    text-transform: uppercase;
    background: linear-gradient(to right, #ce457a, #1421cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.payment-container {
    background-color: rgb(248, 175, 165);
    padding: 4px 4px 4px 4px;
}
#btn{
    margin-bottom: 30px;
}
.payable {
    position: absolute;
    right: 6rem;
    top: 12rem;
    border-bottom: 2px dashed red ;
}