<!--<mat-toolbar color="primary" class="mat-elevation-z6">
  <span class="material-icons" style="font-size: 27px;">shopping_basket</span>&nbsp;&nbsp;
  <span style="font-size: 26px;">InstaSMart</span>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="search products">
  </div>
  <span class="search-icon">
    <mat-icon>Search</mat-icon>
  </span>
   <div class="spacer"></div>
     <a mat-button routerLink="/home">Home</a>
     <a mat-button routerLink="/product">Product</a>
     <a mat-button routerLink="/about">AboutUs</a>
     <a mat-button routerLink="/contact">ContactUs</a>
     <a mat-raised-button color="accent" routerLink="/auth">Login</a>
     <a mat-button routerLink="/cart"><span class="material-icons">shopping_cart</span></a>
 </mat-toolbar>
 <router-outlet></router-outlet>-->
 <mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-icon>shopping_cart</mat-icon>
  <span>InstaSMart</span>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Products">
  </div>
  <span class="search-icon">
    <mat-icon>search</mat-icon>
  </span>
   <div class="spacer"></div>
     <a mat-button id="home" routerLink="/home">Home</a>
     <a mat-button id="products" routerLink="/product">Product</a>
     <a mat-button id="aboutus" routerLink="/about">AboutUs</a>
     <a mat-button id="contactus" routerLink="/contact">ContactUs</a>
     <a mat-raised-button id="login" color="accent" routerLink="/login" *ngIf="islogged == false">Login</a>&nbsp;&nbsp;
     <a mat-raised-button color="accent" (click)=logout() *ngIf="islogged == true">Logout</a>&nbsp;&nbsp;
     <!--<a mat-button routerLink="/cart"><mat-icon>shopping_cart</mat-icon>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </a>-->
    <button routerLink="/cart" class="btn btn-primary" [disabled] = "this.isButtonVisible">
      <span class="material-icons" style="font-size: 23px;">add_shopping_cart</span>
      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
    
    <h4 style="padding: 2px 2px 0 6px;" *ngIf="this.islogged == true">Welcome {{this.username}}</h4>
 </mat-toolbar>




