.card {
    height: 75%;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    padding: 2rem;
    border: 5px solid rgb(43, 148, 180);
}

.card-header {
    margin-left: 20px;
    font-size: 2rem;
    font-weight: bolder;
    color: coral;
}

.form-control {
    color: crimson;
    background-color: lightgoldenrodyellow;
}

button {
    border-radius: 2rem;
}