<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <form #userLogin = "ngForm" (ngSubmit)="onSubmitData(userLogin.value, userLogin)">
            <input type="text" id="Name" name="Name" placeholder="Enter your full name" required ngModel>
            <input type="email" id="Email" name="Email" placeholder="Enter your email id" required ngModel>
            <select id="dropdown" name="Country" type="text" required ngModel>
                <option value="" disabled selected hidden>Choose Country</option>
                <option>Albania</option>
                <option>Algeria</option>
                <option>Australia</option>
                <option>Belgium</option>
                <option>Bhutan</option>
                <option>Bangladesh</option>
                <option>Colombia</option>
                <option>Canada</option>
                <option>Denmark</option>
                <option>Dominica</option>
                <option>Algeria</option>
                <option>Australia</option>
                <option>Belgium</option>
                <option>Bhutan</option>
                <option>Bangladesh</option>
                <option>Colombia</option>
                <option>Canada</option>
                <option>Denmark</option>
                <option>Egypt</option>
                <option>France</option>
                <option>Greece</option>
                <option>Hungary</option>
                <option>India</option>
                <option>Indonesia</option>
                <option>Italy</option>
            </select>
            <textarea id="Message" name="Message" type="textarea" placeholder="Enter your message" required ngModel></textarea>
            <button id="btn" type="submit" class="btn btn-secondary" [disabled]="!userLogin.valid">SEND</button>
        </form>
        
        <div class="image-section">
            <img src="assets/image/contact.webp">
        </div>
    </div>
</body>
</html>